:root {
    --cor-maxima: #ffffff; /* Maximum Color */
    --cor-fundo: #eeeeee; /* Background Color */
    --cor-media: #dddddd; /* Dark Color */
    --cor-secundaria: #bbbbbb; /* Secondary Color */
    --cor-texto: #333333; /* Text Color */
}

header, footer{
    width:100vw;
    padding:30px calc(calc(100wh - 1000px) / 2);
    background-color:var(--cor-fundo);
}

body{
    background-color:var(--cor-maxima);
}










.publicacao {
    font-size: 14px
}

;

.grade {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: 'calendario graficos'
}









.linhadotempo,
.info4,
.info3,
.calendario,
.calendario-media,
.grafico-diaria,
.grade-comparacao {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px;
    background-color: var(--cor-media);

}

.info4 {
    border-radius: 8px;
    background-color: var(--cor-media);

}











.cabecalho,
.info3,
.grafico-diaria,
.grade-tabela,
.info4 {
    margin-bottom: 30px;
}

.cabecalho {
    border-radius: 8px;
    display: block;
    white-space: nowrap;
    color: #fff;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    transition: 5s;
    height: auto;
}

.publicacao:hover .cabecalho {
    background-position: bottom
}

.informacoes {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    backdrop-filter: blur(200px) !important;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'imagem informacoes informacoes informacoes versoes'
}

.info1 {
    display: grid;
    grid-area: informacoes;
    grid-template-rows: 25px 60px 140px 40px auto;
}

.info2 img {
    min-width: 100% !important;
    aspect-ratio: 2 / 3;
    display: block;
    border-radius: 5px;
    grid-area: imagem
}

.horario::before,
.autor::before,
.diretor::before,
.primeirocap::before,
.primeirocap::after,
.capitulos::after,
.capitulos::before {
    opacity: 0.5;
}

.cabecalho .tipo {
    display: inline;
}

.cabecalho .horario,
.cabecalho .autor,
.cabecalho .diretor,
.primeirocap,
.ultimocap,
.capitulos {
    display: inline;
}

.cabecalho .horario::before {
    content: " exibida às ";
}

.cabecalho .producao {
    font-size: 35px;
    font-weight: 800;
}

.cabecalho .producao,
.cabecalho .ficha {
    display: grid;
    grid-auto-rows: 30px;
    vertical-align: middle;
}

.cabecalho-ficha {
    grid-template-rows: 30px;
}

.cabecalho .autor {
    font-weight: 700;
}

.cabecalho .autor::before {
    content: "Autoria de ";
}

.cabecalho .diretor::before {
    content: "Direção de ";
}

.primeirocap::before {
    content: "Exibida entre ";
}

.primeirocap::after {
    content: " e ";
}

.capitulos::before {
    content: ", com ";
}

.capitulos::after {
    content: " capítulos";
}

.cabecalho .links {
    margin-top: 10px;
}

.globoplay,
.memoriaglobo,
.wikipedia,
.imdb,
.tvtime,
.trakttv,
.filmow {
    display: inline;
    padding: 8px 8px 8px;
    border-radius: 4px;
    margin-right: 10px;
    color: #fff;
    font-size: 80%;
    font-weight: 700;
    transition: 0.3s;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.3);
}

.globoplay:hover {
    opacity: 1;
    background: linear-gradient(to left, #F39900, #E3203C);
}

.memoriaglobo:hover {
    background: linear-gradient(to left, #008AAF, #006C8A);
    opacity: 1;
}

.imdb:hover {
    background: linear-gradient(to left, #FCCA18, #e3b303);
    opacity: 1;
}

.filmow:hover {
    background: linear-gradient(to left, #19ADE4, #1490BC);
    opacity: 1;
}

.trakttv:hover {
    background: linear-gradient(to left, #ED2224, #C21010);
    opacity: 1;
}

.tvtime:hover {
    background: linear-gradient(to left, #FCCA18, #e3b303);
    opacity: 1;
}

.wikipedia:hover {
    background: linear-gradient(to left, #999, #ccc);
    opacity: 1;

}

.globoplay::before {
    color: #fff;
    content: "globoplay";
}

.memoriaglobo::before {
    color: #fff;
    content: "memoriaglobo";
}

.wikipedia::before {
    color: #fff;
    content: "wikipedia";
}

.imdb::before {
    color: #fff;
    content: "imdb";
}

.tvtime::before {
    color: #fff;
    content: "tvtime";
}

.trakttv::before {
    color: #fff;
    content: "trakt.tv";
}

.filmow::before {
    color: #fff;
    content: "filmow";
}


.versoes {
    grid-area: versoes;
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 50px;
    grid-auto-rows: 50px
}

.versoes .versao {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0.5;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.versoes .versao:hover {
    opacity: 1;
}

.versoes .ano {
    font-weight: 700;
    padding-bottom: 5px;
}

.versoes .modelo {
    font-weight: 400;
}

.info3 {
    grid-template-columns: repeat(5, 1fr);
}

.info4 {
    grid-template-columns: 19fr 19fr 19fr 19fr 24fr;
}

.info3,
.info4 {
    grid-area: audiencias;
    display: grid;
    gap: 40px;
    font-size: 35px;
    font-weight: 900;
    padding-left: 40px;
    padding-right: 40px;
}

.info4 .fade {
    opacity: 0.3;
}

.info4 .cap25,
.info4 .cap50,
.info4 .cap100,
.info4 .cap150,
.info4 .cap150 {
    padding: 20px 0px;
}

.info4 .totalcap {
    border-radius: 5px;
    padding: 20px;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
}

.audpricap .data::before {
    content: "pontos no primeiro capítulo, em "
}

.maioraud .data::before {
    content: "pontos na maior audiência, em "
}

.menoraud .data::before {
    content: "pontos na menor audiência, em "
}

.audultcap .data::before {
    content: "pontos no último capítulo, em "
}

.nameta::after {
    content: "capítulos atingiram a meta do horário"
}

.cap25 .data::before {
    content: "pontos até o 25º capítulo, em "
}

.cap50 .data::before {
    content: "pontos até o 50º capítulo, em "
}

.cap75 .data::before {
    content: "pontos até o 75º capítulo, em "
}

.cap100 .data::before {
    content: "pontos até o 100º capítulo, em "
}

.cap150 .data::before {
    content: "pontos até o 150º capítulo, em "
}

.totalcap .data::before {
    content: "pontos até o 200º capítulo, em "
}

.audpricap .data::before,
.menoraud .data::before,
.maioraud .data::before,
.audultcap .data::before,
.audpricap .data,
.menoraud .data,
.maioraud .data,
.audultcap .data,
.cap25 .data::before,
.cap50 .data::before,
.cap100 .data::before,
.cap150 .data::before,
.totalcap .data::before {
    display: inline-block;
    line-height: 1.5;
}

.nameta::after {
    display: block;
    line-height: 1.5;
}

.audpricap .data::before,
.menoraud .data::before,
.maioraud .data::before,
.audultcap .data::before,
.nameta::after,
.audpricap .data,
.menoraud .data,
.maioraud .data,
.audultcap .data,
.cap25 .data,
.cap50 .data,
.cap100 .data,
.cap150 .data,
.totalcap .data,
.cap25 .data::before,
.cap50 .data::before,
.cap100 .data::before,
.cap150 .data::before,
.totalcap .data::before {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.audpricap .data,
.menoraud .data,
.maioraud .data,
.audultcap .data,
.nameta::after,
.cap25 .data,
.cap50 .data,
.cap100 .data,
.cap150 .data {
    opacity: 0.5;
}

.totalcap .data {
    opacity: 0.7;
}

.info3 .positivo,
.info3 .negativo,
.info4 .positivo,
.info4 .negativo {
    margin-top: 5px;
    display: inline-block;
    padding: 4px 7px;
    background-color: var(--cor-maxima);
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px;
}

.info4 .totalcap .positivo,
.info4 .totalcap .negativo {
    background-color: var(--cor-secundaria) !important;
    color: var(--cor-texto) !important;
}

.info3 .positivo::after,
.info3 .negativo::after,
.info4 .positivo::after,
.info4 .negativo::after {
    content: "pontos";
    padding-left: 5px;
    display: inline-block;
}








.info3-titulo::before {
    content: "Marcas de audiência da produção em São Paulo";
}

.grafico-diaria-titulo::before {
    content: "Gráfico da audiência detalhada por dia em São Paulo";
}

.calendario-titulo::before {
    content: "Tabela da audiência detalhada em São Paulo";
}

.calendario-media-titulo::before {
    content: "Média das audiências por semana";
}

.linhadotempo-titulo::before {
    content: "Cronologia de produções no horário";
}

.capitulosacumulados-titulo::before {
    content: "Evolução da audiência por capítulos acumulados em São Paulo";
}

.grafico-comparacao-titulo::before {
    content: "Comparação com produções anteriores do horário";
}


.info3-titulo::before,
.grafico-diaria-titulo::before,
.calendario-titulo::before,
.calendario-media-titulo::before,
.linhadotempo-titulo::before,
.capitulosacumulados-titulo::before,
.grafico-comparacao-titulo::before {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 10px;
    display: block;
    margin-top: 20px;
}

.grafico-diaria {
    padding-top: 70px !important;
    position: relative;
    display: flex;
    width: calc(100% - 80px);
    padding-left: 40px;
    padding-right: 40px;
    height: 250px;
    border-radius: 8px;
}

.grafico-diaria .dia {
    height: 100%;
    position: relative;
    flex: 600
}

.grafico-diaria .dia .barra {
    bottom: 0;
    border-top: 3px solid var(--cor-texto);
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--cor-secundaria);
    opacity: 1;
    transition: 0.3s !important;
}

.grafico-diaria .dia:hover .barra {
    background: linear-gradient(to top, var(--cor-secundaria), var(--cor-media));
    border-top: 3px solid var(--cor-texto);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 999 !important;
}

.grafico-diaria .dia .dados {
    transition: 0.3s
}

.grafico-diaria .dia:hover .dados {
    display: block
}

.grafico-diaria .dia .dados .numero {
    width: 40px !important;
    margin: -70px auto 0 !important;
    font-size: 12px;
    font-weight: 700;
    transition: 0.2s;
    white-space: nowrap;
    line-height: 110%;
    text-overflow: clip;
    display: none;
    border-radius: 4px;
    background-color: var(--cor-maxima);
    z-index: 9999 !important;
    text-align: center !important;
    padding: 5px 8px;
    color: var(--cor-texto) !important;
}


.grafico-diaria .dia .dados .numero .data,
.grafico-diaria .dia .dados .numero .capitulo {
    font-weight: 400;
    display: block;
    text-align: center !important;
    font-size: 80%;
}

.grafico-diaria .dia .dados .numero .data {
    margin-top: 3px;
}

.primeirocapitulo .numero,
.primeirocapitulo,
.ultimocapitulo .numero,
.ultimocapitulo,
.grafico-diaria .dia:hover .dados .numero {
    display: block;

}








.grade-tabela {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    gap: 20px;
}

.calendario {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    font-size: 13px;
    grid-area: calendario;
    padding-left: 40px;
    padding-right: 40px;
}

.calendario .linha {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-areas: 'ordem inicio inicio fim fim dia1 dia2 dia3 dia4 dia5 dia6';
    gap: 10px;
}

.calendario-media {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    font-size: 13px;
    grid-area: calendario;
    padding-left: 40px;
    padding-right: 40px;
}

.calendario-media .linha {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 'ordem mediasp mediasp mediarj mediarj mediapnt mediapnt';
    gap: 10px;
}

.calendario-media .inicio,
.calendario-media .fim {
    display: none
}

.calendario .linha .ordem,
.calendario-media .linha .ordem {
    grid-area: ordem
}

.calendario .linha .inicio {
    grid-area: inicio
}

.calendario .linha .fim {
    grid-area: fim
}

.calendario .linha .dia1 {
    grid-area: dia1
}

.calendario .linha .dia2 {
    grid-area: dia2
}

.calendario .linha .dia3 {
    grid-area: dia3
}

.calendario .linha .dia4 {
    grid-area: dia4
}

.calendario .linha .dia5 {
    grid-area: dia5
}

.calendario .linha .dia6 {
    grid-area: dia6
}

.calendario .linha .dia7 {
    grid-area: dia7
}

.calendario-media .linha .mediasp {
    grid-area: mediasp
}

.calendario-media .linha .mediarj {
    grid-area: mediarj
}

.calendario-media .linha .mediapnt {
    grid-area: mediapnt
}


.calendario .linha .ordem,
.calendario-media .linha .ordem,
.calendario .linha .inicio,
.calendario .linha .fim,
.calendario .linha .dia1,
.calendario .linha .dia2,
.calendario .linha .dia3,
.calendario .linha .dia4,
.calendario .linha .dia5,
.calendario .linha .dia6,
.calendario .linha .dia7,
.calendario-media .linha .mediasp,
.calendario-media .linha .mediarj,
.calendario-media .linha .mediapnt {
    text-align: center;
    padding: 8px 0px;
}


.calendario .linha .dia1,
.calendario .linha .dia2,
.calendario .linha .dia3,
.calendario .linha .dia4,
.calendario .linha .dia5,
.calendario .linha .dia6,
.calendario .linha .dia7,
.calendario-media .mediasp,
.calendario-media .mediarj,
.calendario-media .mediapnt {
    border-radius: 4px;
    background-color: var(--cor-maxima);
}

.calendario .cab,
.calendario-media .cab {
    font-weight: 900;
}

.calendario .cab .ordem::before,
.calendario-media .cab .ordem::before {
    content: "Sem."
}

.calendario .cab .inicio::before {
    content: "Início"
}

.calendario .cab .fim::before {
    content: "Fim"
}

.calendario .cab .dia1::before {
    content: "Seg"
}

.calendario .cab .dia2::before {
    content: "Ter"
}

.calendario .cab .dia3::before {
    content: "Qua"
}

.calendario .cab .dia4::before {
    content: "Qui"
}

.calendario .cab .dia5::before {
    content: "Sex"
}

.calendario .cab .dia6::before {
    content: "Sáb"
}

.calendario .cab .dia7::before {
    content: "Dom"
}

.calendario-media .cab .mediasp::before {
    content: "Média SP"
}

.calendario-media .cab .mediarj::before {
    content: "Média RJ"
}

.calendario-media .cab .mediapnt::before {
    content: "Média PNT"
}

.calendario .cab .dia1,
.calendario .cab .dia2,
.calendario .cab .dia3,
.calendario .cab .dia4,
.calendario .cab .dia5,
.calendario .cab .dia6,
.calendario .cab .dia7,
.calendario-media .cab .mediasp,
.calendario-media .cab .mediarj,
.calendario-media .cab .mediapnt {
    background-color: transparent !important;
}

.calendario .recpos,
.calendario-media .recpos {
    color: #06a566;
    font-weight: 900;
}

.calendario .recneg,
.calendario-media .recneg {
    color: #f6260e;
    font-weight: 900;
}

.calendario .rec {
    font-weight: 900
}

.calendario .linha,
.calendario-media .linha {
    transition: 0.3s;
    border-radius: 4px;
}

.calendario .linha:hover,
.calendario-media .linha:hover {
    background-color: var(--cor-maxima);

}


.calendario .cab:hover,
.calendario-media .cab:hover {
    background-color: transparent !important;

}



















.linhadotempo {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    font-size: 12px;
    text-align: center;
}

.linhadotempo img {
    height: 150px !important;
    border-radius: 5px;
    margin: 0 auto !important;
}

.linhadotempo .producao {
    font-size: 14px;
    font-weight: 700;
}

.linhadotempo .coluna {
    display: grid;
    grid-template-rows: auto;
    gap: 15px
}

.linhadotempo .col1 {
    opacity: 0.2;
    transition: 0.3s;
}

.linhadotempo .col2 {
    opacity: 0.35;
    transition: 0.3s;
}

.linhadotempo .col3,
.linhadotempo .col5 {
    opacity: 0.5;
    transition: 0.3s;
}

.linhadotempo .col1:hover,
.linhadotempo .col2:hover,
.linhadotempo .col3:hover,
.linhadotempo .col5:hover {
    opacity: 1
}



























.grade-comparacao {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 40px;
    gap: 20px;
    padding-right: 40px;

}

.grafico-comparacao {
    display: grid;
    font-size: 12px !important;
    gap: 10px;
    grid-auto-rows: auto;
}

.grafico-comparacao .espaco {
    display: grid;
    border-radius: 5px;
    grid-template-columns: 1fr 3fr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--cor-secundaria);

}

.grafico-comparacao .audiencia {
    padding: 8px;
    font-weight: 700;
    border-radius: 5px 0px 0px 5px;
    background-color: var(--cor-maxima);
}

.grafico-comparacao .diferenca {
    display: none;
}

.grafico-comparacao .barra {
    letter-spacing: -0.2px;
    padding: 8px 8px 8px 0px;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--cor-maxima);
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}


.grade-comparacao .pricap::before,
.grade-comparacao .maioraud::before,
.grade-comparacao .ultcap::before,
.grade-comparacao .mediageral::before {
    font-size: 15px;
    font-weight: 700;
}

.grade-comparacao .pricap::before {
    content: "No primeiro capítulo";
}

.grade-comparacao .maioraud::before {
    content: "Na maior audiência";
}

.grade-comparacao .ultcap::before {
    content: "No último capítulo";
}

.grade-comparacao .mediageral::before {
    content: "Média geral em São Paulo";
}












.timeline {
    font-size: 12px;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 50px;
    padding: 40px;
    display: grid;
    grid-template-columns: 90px auto;
    gap: 10px;
}

.timeline .scroll {
    display: grid;
    grid-template-columns: repeat(60, auto);
    overflow-x: auto;
    overflow-y: hidden;
    height: 500px;
}

.timeline-horarios {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 30px;
    gap: 10px;

}

.timeline-tabela .linha,
.timeline-horarios .linha {
    padding: 0px 0px;
}

.timeline-horarios,
.timeline-tabela {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 36px repeat(6, 1fr);
}

.timeline-tabela {
    gap: 10px;
    padding-bottom: 10px;

}


.timeline-tabela .data {
    font-size: 11px;
    line-height: 1.2;
    color: var(--cor-texto);
}

.timeline .scroll::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.timeline .scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.timeline .scroll::-webkit-scrollbar-thumb {
    background: #888;
}

.timeline .scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.timeline-tabela .linha {
    border-radius: 5px;
    vertical-align: middle;

    /* remover pra baixo se geral não funcionar para manter por ano */

    display: grid;
    grid-template-columns: repeat(3104, 20px) !important;
    gap: 0px;
}

.timeline .nomelinha {
    font-weight: 700;
}








.com52sem .linha {
    grid-template-columns: repeat(52, 20px);
    gap: 0px;
}

.com53sem .linha {
    display: grid;
    grid-template-columns: repeat(53, 20px);
    gap: 0px;
}


.com36sem .linha {
    display: grid;
    grid-template-columns: repeat(36, 20px);
    gap: 0px;
}


.timeline .item {
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 10px !important;
    font-size: 15px;
}

.timeline .iniciou {
    margin-left: 10px;
}

.timeline .item p {
    z-index: 9999;
    display: block;
    width: 400px;
    position: relative;
    transform: translateX(0%);
    padding-bottom: 0px !important;
}

.timeline .item:hover p {
    animation: scroll-text 8s linear infinite;
    /* Animação contínua */
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
        /* Começa fora da direita */
    }

    100% {
        transform: translateX(calc(-100% - 30px));
        /* Vai para fora da esquerda */
    }
}
